* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --font-color: rgb(0, 0, 0);
}

/* ---------------Header Start--------------- */
/* ---------------NavBar--------------- */
header {
    width: 90vw;
    margin: auto;
}

header>nav>ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    font-size: 1em;
    padding: 10px 10px 0px 10px;
}

header nav ul li a {
    color: var(--font-color);
}

header nav ul li img {
    width: 180px;
    height: auto;
}

/* ---------------NavBar Logo--------------- */
#logo:first-child {
    margin-right: auto;
    margin-top: 10px;
}

.down-arrow {
    width: 20px;
    height: 20px;
    padding: 3px 0px 0px 0px;
}

nav ul li a svg {
    margin: 10px 0px 0px 0px;
}

/* -----------------------Baad main kaam karunga ispar, yahan se start karna hai----------------------- */
/* About main hover effect lagana hai */
/* .sub-about{
    position: absolute;
    background-color: #212121;
    height: 35vh;
    width: 16vw;
    color: white;
    line-height: 40px;
    /* transform: translateX(-14px) translateY(30px);
    text-align: left;
    padding-left: 10px;
}
.sub-about>li{
    border-bottom: 1px solid rgb(45, 45, 45);
}
*/

/* ---------------Header End--------------- */

/* ---------------Main Start--------------- */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 50px auto;
}

.container h1 {
    /* padding: 25px 50px; */
    margin: 25px 30px 10px 70px;
    font-weight: 350;
    font-size: 3em;
    text-align: center;
    display: inline-block;
}

.container img {
    display: inline-block;
}

.container h1 span {
    font-weight: bolder;
    text-align: center;
}

.container>h2 {
    padding: 30px;
    text-align: center;
    font-weight: lighter;
    font-weight: 400;
}

#button {
    display: flex;
    justify-content: center;
}

#button a {
    padding: 10px 20px;
    background-color: #09A6BD;
    border-radius: 5px;
    color: #FFFFFF;
    align-content: center;
    margin: auto;
    font-weight: bold;
}

/* ------------------Version------------------ */
.version {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 80px 20px 20px 20px;
}

.version img {
    width: 60px;
    height: auto;
    margin: 10px 30px;
}

.version h3 {
    font-size: 1.5em;
    font-weight: 400;
    /* margin-right: 10px; */
}

.version>h3>span {
    font-size: 0.5em;
    margin: 5px;
}

/* ------------------Buttons for different languages------------------ */
/* ---------------Multiple Language Download Buttons--------------- */
.languages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* width: 90vw; */
}

.box {
    background-color: #F9F9F9;
    padding: 20px 10px;
    text-align: center;
}

.languages>.box>h2 {
    font-size: 1.2em;
    padding: 10px;
}

.languages>.box>h3 {
    font-size: 0.8em;
    font-weight: 400;
    padding: 0px 0px 15px 0px;
}

.languages>.box>.btn {
    color: white;
    display: inline-block;
    /* border: 2px solid maroon; */
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 700;
    gap: 10px;
}

.languages>.box>.left:hover {
    background-color: #09A6BD;
    transition: 0.2s linear;
}

.languages>.box>.right:hover {
    background-color: #81C780;
    transition: 0.2s linear;
}

.languages>.box>.left {
    background-color: #00B6D1;
}

.languages>.box>.right {
    background-color: #5CB85C;
}

.container-2 {
    width: 100vw;
    min-height: 100vh;
    /* border: 2px solid rgb(249, 167, 167); */
    padding: 20px;
    background-color: #222222;
}

/* ---------------Main End--------------- */

/* ---------------Container 2 Start--------------- */
.container-2 .top {
    width: 80vw;
    /* border: 2px solid rgb(249, 167, 67); */
    margin: 50px auto;
}

.container-2 .newsletter {
    display: flex;
}

.container-2 .newsletter .text {
    /* border: 2px solid firebrick; */
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
}

.container-2 .newsletter .form {
    width: 30vw;
    margin: auto;
    height: 50vh;
    /* border: 2px solid fuchsia; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 40px;
}

.container-2 .newsletter .form>h3 {
    font-size: 1.5em;
    font-weight: 400;
    color: #00B6D1;
    margin-bottom: 40px;
}

.container-2 .newsletter .form label {
    font-weight: 350;
    margin-bottom: 5px;
}

.container-2 .newsletter .form input {
    width: 23vw;
    height: 10vh;
    border: 1px solid rgb(222, 222, 222);
}

.form>button {
    background-color: #00B6D1;
    color: white;
    font-size: 1em;
    font-weight: 700;
    width: 23vw;
    height: 10vh;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0px 5px 10px #D5EBFC;
}

.bottom {
    margin-top: 100px;
    color: white;
}

.bottom>h3 {
    font-size: 1.4em;
    font-weight: 400;
}

.bottom:nth-child(2) {
    line-height: 40px;
}

.bottom a {
    color: #00B6D1;
}

/* ---------------Container 2 End--------------- */

/* ---------------Container 3 Start--------------- */
.container-3 {
    width: 80vw;
    margin: 90px auto 10px auto;
}

.container-3 .inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.col h3 {
    font-size: 0.9em;
    margin-bottom: 20px;
}

.col ul {
    line-height: 25px;
}

.col li {
    font-size: 0.9em;
    font-weight: 350;
}

.col p {
    margin-bottom: 5px;
}

.col input::placeholder {
    padding-left: 10px;
}

.col-4 input {
    height: 7vh;
    width: 18vw;
}

.col-4 button {
    background-color: #00B6D1;
    color: white;
    font-size: 1em;
    font-weight: 700;
    width: 18vw;
    height: 7vh;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* -----------------Footer----------------- */
footer {
    width: 80vw;
    margin: 50px auto;
}

footer nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.footer-logo:first-child {
    margin-right: auto;
}

footer img {
    width: 160px;
    margin-bottom: 20px;
}

footer p {
    font-size: 0.7em;
}

footer li svg {
    height: 1.5em;
    color: black;
    margin: 0px 7px;
}

footer li svg:nth-child(odd){
    position: relative;
    z-index: -1;
}
footer li svg:nth-child(even){
    position: relative;
    z-index: 1;
}
footer li svg:hover {
    height: 1.6em;
    transform: scale3d(1.6em);
    transition: transform 2s ease-in;
}

/* ---------------Cursor Pointer for whole website--------------- */
header nav ul li,
.languages .box .btn,
.form button,
.col ul li,
.col-4 button,
footer li svg {
    cursor: pointer;
}

/* -----------------Media Queries-----------------   */
@media screen and (0px<width<600px) {
    .languages {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .container-2 .newsletter {
        flex-direction: column;
    }

    .container-3 .inner {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
    }
}
footer span:last-child{
    position: fixed;
    bottom: 0px;
    left: 20px;
    border-radius: 20px 20px 0px 0px;
    background-color: #2D2D2D;
    color: white;
    padding: 10px;
    font-weight: 600;
    font-size: 0.7em;
}