* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --font-color: rgb(0, 0, 0);
}

header {
    width: 90vw;
    margin: auto;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    font-size: 1em;
    padding: 10px 10px 0px 10px;
}

header nav ul li a {
    color: var(--font-color);
}

header nav ul li img {
    width: 180px;
    height: auto;
}

#logo:first-child {
    margin-right: auto;
    margin-top: 10px;
}

.down-arrow {
    width: 20px;
    height: 20px;
    padding: 3px 0px 0px 0px;
}

nav ul li a svg {
    margin: 10px 0px 0px 0px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 50px auto;
}

.container h1 {
    /* padding: 25px 50px; */
    margin: 25px 30px 10px 70px;
    font-weight: 350;
    font-size: 3em;
    text-align: center;
    display: inline-block;
}

.container img {
    display: inline-block;
}

.container h1 span {
    font-weight: bolder;
    text-align: center;
}

.container>h2 {
    padding: 30px;
    text-align: center;
    font-weight: lighter;
    font-weight: 400;
}

#button {
    display: flex;
    justify-content: center;
}

#button a {
    padding: 10px 20px;
    background-color: #09A6BD;
    border-radius: 5px;
    color: #FFFFFF;
    align-content: center;
    margin: auto;
    font-weight: bold;
}

/* ------------------Version------------------ */
.version {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 80px 20px 20px 20px;
}

.version img {
    width: 60px;
    height: auto;
    margin: 10px 30px;
}

.version h3 {
    font-size: 1.5em;
    font-weight: 400;
    /* margin-right: 10px; */
}

.version>h3>span {
    font-size: 0.5em;
    margin: 5px;
}

/* ------------------Buttons for different languages------------------ */
.languages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* width: 90vw; */
}

.box {
    background-color: #F9F9F9;
    padding: 20px 10px;
    text-align: center;
}

.languages>.box>h2 {
    font-size: 1.2em;
    padding: 10px;
}
.languages>.box>h3{
    font-size: 0.8em;
    font-weight: 400;
    padding: 0px 0px 15px 0px;
}
.languages> .box > .btn{
    color: white;
    display: inline-block;
    /* border: 2px solid maroon; */
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 700;
    gap: 10px;
}
.languages> .box > .left{
    background-color: #00B6D1;
}
.languages> .box > .right{
    background-color: #5CB85C;
}