* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --font-color: rgb(0, 0, 0);
}

header {
    width: 90vw;
    margin: auto;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    font-size: 1.1em;
    padding: 10px 10px 0px 10px;
}

header nav ul li a {
    color: var(--font-color);
}

header nav ul li img {
    width: 180px;
    height: auto;
}

#logo:first-child {
    margin-right: auto;
    margin-top: 15px;
}

.down-arrow {
    width: 20px;
    height: 20px;
    padding: 3px 0px 0px 0px;
}

nav ul li a svg {
    margin: 10px 0px 0px 0px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 50px auto;
}

.container h1 {
    /* padding: 25px 50px; */
    margin: 25px 70px;
    font-weight: 350;
    font-size: 50px;
    text-align: center;
    display: inline-block;
}

.container img {
    display: inline-block;
}

.container h1 span {
    font-weight: bolder;
    text-align: center;
}

.container h2 {
    padding: 30px;
    text-align: center;
    font-weight: lighter;
    font-weight: 400;
}

#button {
    display: flex;
    justify-content: center;
}

#button a {
    padding: 10px 20px;
    background-color: #09A6BD;
    border-radius: 5px;
    color: white;
    align-content: center;
    margin: auto;
    font-weight: bold;
}