* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 100px;
    /* To bring the dil in the center of the body. */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#dil {
    height: 200px;
    width: 200px;
    background-color: red;
    rotate: 45deg;
}
/* Left curve of the heart */
#dil::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, 0);
}

/* Right curve of the heart */
#dil::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    transform: translate(0%, -50%);
}

@media (481px < width < 768px) {
    #dil {
        height: 150px;
        width: 150px;
    }
}
@media (320px < width < 480px) {
    #dil {
        height: 100px;
        width: 100px;
    }
}