* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    margin: 20px;
    width: 50vw;
    color: black;
    overflow: hidden;
}

.card {
    display: flex;
}

.card img {
    width: 168px;
    height: 94px;
    border-radius: 10px;
    margin-right: 10px;
}

.data{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.data h1 {
    font-size: 1.3em;
}

.duration {
    background-color: rgba(0, 0, 0, 0.811);
    color: white;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    left: -56px;
    top: 9px;
    font-size: 0.9em;
}

.dot1 {
    font-size: 2em;
    position: absolute;
    top: -11px;
    left: 111px;
}

.dot2 {
    font-size: 2em;
    position: absolute;
    top: -11px;
    /* left: 152px; */
}

.views {
    margin: 0px 8px;
}

.monthsOld {
    /* margin: 0px 5px; */
}


.info {
    padding: 10px 0px;
    /* color: #aaa; */
    position: relative;
}